{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block body %}
    <div class="post">
        <div class="postheader"> </div>
        <div class="postcontent">
            <h2>Список Пользователей</h2>
            <!--Сортирвка-->
            {{ form_start(form) }}
            <div class="form">
                <h3>Форма Редактирования Пользователя</h3>
                {{ form_widget(form.name, {
                    'attr': {'placeholder': 'Имя'},
                    'translation_domain': false,
                }) }}
                {% for error in form.name.vars.errors %}
                    <span style="color: #d71414; margin: unset">{{ error.message }}</span>
                {% endfor %}
                {{ form_widget(form.surName, {
                    'attr': {'placeholder': 'Фамилия'},
                    'translation_domain': false,
                }) }}
                {% for error in form.surName.vars.errors %}
                    <span style="color: #d71414; margin: unset">{{ error.message }}</span>
                {% endfor %}
                <span>
                {{ form_widget(form.city, {
                    'attr': {'size': '1'},
                    'translation_domain': false,
                }) }}
                {% for error in form.city.vars.errors %}
                    <span style="color: #d71414; margin: unset">{{ error.message }}</span>
                {% endfor %}
                </span>
                <p>Выберите файл изображения</p>
                {% if user.media is null %}
                    <img width="100" src="{{ asset('images/placeholder.png') }}" class="image" alt="Фотография">
                {% else %}
                    {{ sonata_media(user.media, 'small', {'class': 'image'}) }}
                {% endif %}
                {{ form_widget(form.media, {'translation_domain': false}) }}
                {% for error in form.media.vars.errors %}
                    <span style="color: #d71414; margin: unset">{{ error.message }}</span>
                {% endfor %}
                <input type="submit" value="Редактировать">
                <a href="{{ path('users') }}">Отмена</a>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="postbottom"></div>
    </div>
{% endblock %}
