{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="post">
        <div class="postheader"> </div>
        <div class="postcontent">
            <h2>Список Пользователей</h2>
            <!--Сортирвка-->
            {% if showForm %}
                <div class="sortform">
                    <div class="pole">
                        <h3>Поле сортировки</h3>
                        <span>
                            <input type="radio" name="orderBy" value="id" {% if data.orderBy == 'id' %} checked {% endif %} form="formSort">
                            <b>id</b>
                        </span>
                        <span>
                            <input type="radio" name="orderBy" value="name" {% if data.orderBy == 'name' %} checked {% endif %} form="formSort">
                            <b>Имя</b>
                        </span>
                        <span>
                            <input type="radio" name="orderBy" value="surname" {% if data.orderBy == 'surname' %} checked {% endif %} form="formSort">
                            <b>Фамилия</b>
                        </span>
                    </div>
                    <div class="napr">
                        <h3>Направление сортировки</h3>
                        <span>
                            <input type="radio" name="order" value="ASC" {% if data.order == 'ASC' %} checked {% endif %} form="formSort">
                            <b>Возрастание</b>
                        </span>
                        <span>
                            <input type="radio" name="order" value="DESC" {% if data.order == 'DESC' %} checked {% endif %} form="formSort">
                            <b>Убывание</b>
                        </span>
                    </div>
                    <input type="submit" value="Сортировать" form="formSort">
                    <input type="hidden" name="form" value="1" form="formSort">
                    <a href="{{ path('users') }}">Отмена</a>
                </div>
            {% endif %}
            <h3><a href="#down">Вниз</a></h3>
            <div style="display:inline-block">
                <form action="{{ path('create_user') }}" method="get">
                    <input type="submit" value="Добавить">
                </form>
                {% if showForm == false %}
                    <button type="submit" name="form" value="1" form="formSort">Сортировать</button>
                {% endif %}
            </div>
            <!--Создадим выпадающий список "Города"-->
            <div class="filter">
                <h3>Фильтр по Городам</h3>
                <form id="formSort" method="get">
                    <select size="1" name="cityId">
                        <option value="">Выберите город</option>
                        {% for city in cities %}
                            <option value="{{ city.id }}" {% if data.cityId == city.id %} selected {% endif %}>{{ city.name }}</option>
                        {% endfor %}
                        <input type="submit" onclick="hhh()" value="Показать">
                    </select>
                </form>
            </div>

            {% for user in users %}
            <div class="users">
                {% if user.media is not instanceof('\\Sonata\\MediaBundle\\Model\\Media') %}
                    <img width="100" src="{{ user.media }}" class="image" alt="Фотография">
                {% else %}
                    {{ sonata_media(user.media, 'small', {'class': 'image'}) }}
                {% endif %}
                <div class="userdan">
                    <h4>{{ user.name }} {{ user.surName }}</h4>
                    {% if user.cityName is null %}
                        <p>Без города</p>
                    {% else %}
                        <p>Город: {{ user.cityName }}</p>
                    {% endif %}

                    <form action="{{ path('delete_user', {'id': user.userId}) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete_user') }}">
                        <input type="submit" value="Удалить" onclick="return confirm('Вы действительно хотите удалить пользователя?')">
                    </form>

                    <form action="{{ path('edit_user', {'id': user.userId}) }}" method="get">
                        <input type="submit" value="Редактировать">
                    </form>
                </div>
            </div>
            {% endfor %}

            <h3><a href="#top">Наверх</a></h3>
        </div>
        <div class="postbottom"></div>
        <div id="down"></div>
    </div>
{% endblock %}
