{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <form action="{{ path('search_user') }}" method="get">
        <div class="form">
            <h3>Поиск по имени и/или фамилии пользователя</h3>
            <span>
                <input type="search" name="q" required="" placeholder="Введите запрос">
            </span>
            <input type="submit" value="Поиск">
        </div>
    </form>
    {% if users is defined %}
    {% for user in users %}
    <div class="users">
        <img width="100" src="{{ user.avatar }}" class="image" alt="Фотография">
        <div class="userdan">
            <h4>{{ user.name }} {{ user.surName }}</h4>
            <p>Город: {{ user.cityName }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}
